//
   Created by aditya.dalal on 24/07/16.

extends layout

block content
    div.container
        div.row
            div.col-md-3
                p
                a.text-left(href="/") << Back to home
            div.col-md-6
                h1.text-center Submit a new question here
        div.row
            div.col-md-3
            div.col-md-6
                -if(success_message)
                    .alert.alert-success #{success_message}
                -if(error_message)
                    .alert.alert-danger #{error_message}
            div.col-md-3
        div.row
            form.form(action="/question", method="post", id="questionForm")
                div.row
                    div.col-md-3
                    div.col-md-6
                        label Question:
                        textarea.form-control(name="question", rows="5", placeholder="Enter question")
                p
                div.row
                    div.col-md-3
                    div.col-md-6
                        label Answer/s:
                        textarea.form-control(name="answer", rows="2", cols="50", placeholder="Enter comma separated answers")
                p
                div.row
                    button.btn.btn-large.btn-primary.center-block(type="submit") Submit
                    //input.btn.btn-primary(type="submit") Submit

    script.
        $(document).ready (function(){
            $(".alert").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert").alert('close');
            });
        });
